/* --- COLORTABLE ---
 *  Text:
 *  #574A44 (Blackish)
 *  #F3F3F3 (Whiteish)
 *  #FFDE4D (Yellowish)
 *  cornflowerblue (Blueish)
 *
 *  Background Colors (Layout) :
 *  .color1 { background-color: #EEEEEE; }
 *  .color2 { background-color: white; }
 *  .color3 { background-color: black; }
 *  .color4 { background-color: #242424; }
 *  .color5 { background-color: #801C00; }
 *  .color6 { background-color: #400E00; }
 */

/* --- FONTS ---
 *
 *
 *
 *
 *
 *
 *
 */

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

/* START --- Website Layout (Design and Grid) */

.wrapper-layout {
    display: grid;
    background-color: #F1F1EF;
    grid-template-columns: 0.10fr 0.05fr 0.33fr 0.37fr 0.075fr 0.075fr;
    grid-template-rows: 1fr 1fr 1fr 5fr 1fr 1fr;
    grid-template-areas:
    "... line-3 ... ... ... ..."
    "line-1 line-4 nav nav logo logo"
    "line-2 line-5 nav nav logo logo"

    "line-6 line-7 main main line-8 ..."

    "line-9 line-11 ... line-12 line-13 ..."
    "line-10 ... footer footer line-14 ...";
}

.line-1 {
    grid-area: line-1;
    border-right: 3px solid black;
}
.line-2 {
    grid-area: line-2;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}
.line-3 {
    grid-area: line-3;
    border-right: 3px solid black;
}
.line-4 {
    grid-area: line-4;
    border-right: 3px solid black;
}
.line-5 {
    grid-area: line-5;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}
.line-6 {
    grid-area: line-6;
    border-right: 3px solid black;
}
.line-7 {
    grid-area: line-7;
    border-right: 3px solid black;
}
.line-8 {
    grid-area: line-8;
    border-left: 3px solid black;
}
.line-9 {
    grid-area: line-9;
    border-right: 3px solid black;
}
.line-10 {
    grid-area: line-10;
    border-right: 3px solid black;
}
.line-11 {
    grid-area: line-11;
    border-right: 3px solid black;
}
.line-12 {
    grid-area: line-12;
    border-top: 3px solid black;
}
.line-13 {
    grid-area: line-13;
    border-top: 3px solid black;
    border-left: 3px solid black;
}
.line-14 {
    grid-area: line-14;
    border-left: 3px solid black;
}

/* END --- Website Layout (Design and Grid) */

/* START --- Header elements */

.nav {
    grid-area: nav;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px solid black;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    color: cornflowerblue;
}

.logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
}

header img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 5px double black;
    
}

h1 {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFDE4D;
}

/* END --- Header elements */




main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "banner banner banner banner"
    "content content content content";
}

main img {
    grid-area: banner;
    width: 100%;
}

footer {
    grid-area: footer;
}