/* --- COLORTABLE ---
 *  Text:
 *  #574A44 (Blackish)
 *  #F3F3F3 (Whiteish)
 *  #FFDE4D (Yellowish)
 *  cornflowerblue (Blueish)
 *
 *  Background Colors (Layout) :
 *  .color1 { background-color: #EEEEEE; }
 *  .color2 { background-color: white; }
 *  .color3 { background-color: black; }
 *  .color4 { background-color: #242424; }
 *  .color5 { background-color: #801C00; }
 *  .color6 { background-color: #400E00; }
 */

/* --- FONTS ---
 *
 *  arimo
 *  spectral sc
 *
 *
 *
 *
 */

 /* Variables */

 :root {

 }

 /* Change Box Model */

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

.nav1 {
    position: fixed;
    
}

.nav1 .logo {
    background-color: #400E00;
    width: 200px;
    opacity: 95%;
    
}

.nav1 ul {
    width: 200px;
    background-color: #400E00;
    opacity: 95%;
    list-style-type: none;
    color: cornflowerblue;
    margin: 0;
    padding: 2rem;
}

.nav1 .triangle-finish {
    
    width: 0;
    height: 0;
    opacity: 95%;
    border-top: 200px solid #400E00;
    border-right: 200px solid transparent;
}

/* START --- Website Layout */

.wrapper {
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
    
}

/* END --- Website Layout */

/* START --- Header elements */
header {
    background-color: #400E00;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
}

.nav {
    display: flex;
    flex-flow: row nowrap;
    
}
.nav h1 {
    
}
.nav ul {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    color: cornflowerblue;
    
}

.nav li {
    margin: 0 2rem;
}
.nav li:not(:last-child)::after {
	content: "\b7";
}
.nav a {
    text-decoration: none;
    color: cornflowerblue;
}

.banner {
    
    width: 100%;
    /* height */
}

.banner img {
    
    width: 100%;
}

.logo img {
    
    height: 125px;
    width: 125px;
    border-radius: 50%;
    margin: 1rem 3rem 0 0;
    border: 5px double white;
}

h1 {
    margin: 0 3rem;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFDE4D;
}

/* END --- Header elements */




main {
    background-color: #F1F1EF;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}



footer {

}