/* --- COLORTABLE ---
 *  Text:
 *  #574A44 (Blackish)
 *  #F3F3F3 (Whiteish)
 *  #FFDE4D (Yellowish)
 *  cornflowerblue (Blueish)
 *
 *  Background Colors (Layout) :
 *  .color1 { background-color: #EEEEEE; }
 *  .color2 { background-color: white; }
 *  .color3 { background-color: black; }
 *  .color4 { background-color: #242424; }
 *  .color5 { background-color: #801C00; }
 *  .color6 { background-color: #400E00; }
 *  petrol = #005f6A
 *  khaki = #A18C75
 *  pistazie = #D3DE99
 */

/* --- FONTS ---
 *
 *  raleway
 *  spectral sc
 *
 *
 *
 *
 */

 /* Variables */

 :root {

 }

 /* Change Box Model */

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

/* START --- Website Layout */

body {
    background-color: #400E00;
}


.wrapper {
    
    width: 99%;
    margin: 0.5% auto;
    display: grid;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    /*grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));*/
    grid-template-columns: repeat(4, minmax(auto, 1fr));
}

h1 {
    font-family: 'Spectral SC', serif;
    font-size: 75px;
    text-shadow: 4px 2px rgb(9, 86, 88);
}

h2 {
    font-family: 'Spectral SC', serif;
    font-size: 55px;
    text-shadow: 2px 1px rgb(61, 61, 61);
}

/* END --- Website Layout */

nav {
    margin-top: -0.5%;
    margin-left: -0.5%;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-flow: column nowrap;
    width: 12.5vw;
}

nav .logo {
    background-color: #400E00;
    padding-bottom: 1rem;
    opacity: 97.5%;
}

nav figure {
    margin: 0;
    padding: 1rem;
}

nav figcaption {
    color: #16C6CC;
    text-align: center;
    margin-top: 0.5rem;
    cursor: pointer;
}

.logo img {
    width: 100%;
    border-radius: 50%;
    border: 5px double black;
}

nav .navigation {
    background-color: #400E00;
    opacity: 97.5%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
}

nav li:nth-child(odd) {
    background-color: rgb(87, 19, 0);
}

nav li:first-child {
    border-top: 1px solid #213644;
}

nav li {
    padding: calc(0.6rem + 0.5vh) 0;
    text-align: center;
    border-bottom: 1px solid #213644;
}

nav li:hover {
    background-color: #242424;
}

nav a {
    display: block;
    text-decoration: none;
    color: #D3DE99;
}

nav .triangle-finish {
    width: 0;
    height: 0;
    opacity: 97.5%;
    border-top: 12.5vw solid #400E00;
    border-right: 12.5vw solid transparent;
}

/* START --- Header elements */

header {
    grid-column: 1/5;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: #16C6CC;
    position: absolute;
}

.banner img {
    display: block;
    width: 100%;
}

/* END --- Header elements */




main {
    font-size: 20px;
    grid-column: 1/5;
    grid-row: 2/3;
    background-color: #F1F1EF;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

}

main article {
    width: 75%;
    margin: 1rem 0;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

main article img {
    width: 50%;
}

main .article-headline {
    
}

main .author-date {
    
}

main article .news {
    width: 50%;
}





  
hr {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    outline: none;
    border: none;
    color: black;
    text-align: center;
    height: 1.5em;
    width: 85%;
}
hr::before {
    content: "";
    background: linear-gradient(to right, transparent, black, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 0.08rem;
}
hr::after {
    content: attr(data-content);
    position: relative;
    color: black;
    padding: 0 5px;
    line-height: 1.5em;
    background-color: #F1F1EF;
}

  







footer {
    color: #16C6CC;
    background: #400E00;
    background-repeat: no-repeat;
    grid-column: 1/5;
    grid-row: 3/4;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}



footer .footer {
    flex-basis: 75%;
    border: 1px yellow solid;
}

footer .legal {
    flex-basis: 20%;
    border: 1px blue solid;
}