/* --- COLORTABLE ---
 *  Text:
 *  #574A44 (Blackish)
 *  #F3F3F3 (Whiteish)
 *  #FFDE4D (Yellowish)
 *  cornflowerblue (Blueish)
 *
 *  Background Colors (Layout) :
 *  .color1 { background-color: #EEEEEE; }
 *  .color2 { background-color: white; }
 *  .color3 { background-color: black; }
 *  .color4 { background-color: #242424; }
 *  .color5 { background-color: #801C00; }
 *  .color6 { background-color: #400E00; }
 */

/* --- FONTS ---
 *
 *
 *
 *
 *
 *
 *
 */

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

/* START --- Website Layout */

.wrapper {
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "h h h h h h h h h h h h h h h h"
    "m m m m m m m m m m m m m m m m"
    "f f f f f f f f f f f f f f f f";
}

/* END --- Website Layout */

/* START --- Header elements */
header {
    background-color: #400E00;
    grid-area: h;
    display: flex;
    flex-flow: column nowrap;
    align-items: space-between;
    align-items: center;
}

.nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    list-style-type: none;
    color: cornflowerblue;
}
.nav li:not(:last-child)::after {
	content: " || ";
}

header img {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    margin: 1rem 3rem;
    border: 5px double white;
}

h1 {
    margin: 0 3rem;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFDE4D;
}

/* END --- Header elements */




main {
    grid-area: m;
    background-color: #F1F1EF;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "banner banner banner banner"
    "content content content content";
}

main img {
    width: 100%;
}

footer {
    grid-area: f;
}